/* SHORTCODE *************************************************************************************************/

.bamboo-tweets {

	.bamboo-tweet {

		display: inline-block;
		vertical-align: top;
		width: 33%;
		margin-bottom: 3px;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media (max-width: 639px) {
	        width: 49%;
	    }

	    @media (max-width: 479px) {
	        width: 100%;
	    }

		.bamboo-tweet-text {
			color: #444444;
		   	font-size: 1.6rem;
        	line-height: 2.1rem;
        	font-weight: 600;

		}

		.bamboo-tweet-retweeted {
			display: block;
	        min-height: 4rem;
    	}

		.bamboo-tweet-date {
			font-size: 1.8em;
			font-weight: 900;
			color: #444444;
			text-transform: uppercase;
			padding-top: 1rem;
			padding-bottom: 2rem;
		}

		.bamboo-tweet-retweets {
			display: inline-block;
			vertical-align: top;
			width: 49%;
		}

		.bamboo-tweet-favourites {
			display: inline-block;
			vertical-align: top;
			width: 49%;
		}

	}

	.fa-retweet {
		color: #12bd26;
	}

	.fa-star {
		color: #ffba00;
	}

}

/* WIDGET *************************************************************************************************/

.widget_bamboo_tweets {

	h2 {
		padding: 0 0 5px 0;
	}

	i.fa-twitter {
		float: left;
		width: 10%;
		font-size: 1.5em;
		color: #888888;
	}

	.tweet {
		float: left;
		margin: 0 0 5px 0;
		width: 90%;
		color: #444444;
	}

	.tweet-date {
		float: left;
		margin: 0 0 20px 10%;
		width: 90%;
		font-size: 0.9em;
		color: #444444;
	}

	.tweets-footer {
		padding: 3px 0;
		text-align: center;
	}

}

/**************************************************************************************************/